<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Programación Visual</title>
	<link rel="icon" href="..\static\image\htmlimage.ico">
	<link rel="stylesheet" href="../static/css/estilos.css">
</head>
<body>
	<header>
		<nav>
			<h1 id="menu">#{Programación VISUAL}</h1>
			<ul>
				<li><a href="form-cliente.html">Formulario</a></li>
				<li><a href="form-cliente.html">Cursos</a></li>
				<li><a href="form-cliente.html">Contacto</a></li>
			</ul>
		</nav> 
	</header>
	<main>
		<section>
			<div>
				<h2>INTRODUCCION</h2>
				<h3><em>Materia:</em> Programación Visual</h3>
				<p>En esta materia se ve <strong>HTML, Java y CSS.</strong></p>
				<p> HTML, CSS y Java son dependientes y 
					ctúan como una sola unidad. HTML está a 
					cargo de la estructura, CSS presenta esa 
					estructura y su contenido en la pantalla y 
					Java la dinamica. Todo esto para poder crear sitios-aplicaciones web.
				</p>
				<p>Aprenderemos lo que es <strong>Backend y Frontend.</strong></p>
				<h3>Que es frontend?</h3>
				<p> El frontend se refiere a la parte visible de un sitio web o aplicación con la que los usuarios pueden 
					interactuar directamente. Es la cara del sitio, ubicada en el lado del cliente.</p>
				<h3>Que es backend?</h3>
				<p>El Backend se encarga de la conexión con la base de datos y el servidor utilizado por el sitio web.
				 	Esta parte está situada en el lado del servidor. </p>
				 <p>Estos <strong>dos conceptos son fundamentales</strong> en el funcionamiento de cualquier sitio o aplicación web y son esenciales
				  	para aquellos que trabajan en el mundo digital.<br>
				  	Sintetizando, el frontend es como la fachada y las partes visibles de una casa, mientras que el backend es la infraestructura
				 	interna que hace que todo funcione de manera eficiente y segura.</p><br>
			</div>
		</section>
		
		<section>
			<div>
				<h2>JAVA</h2>
				<h3>Que es java?</h3>
				<p>Java es una plataforma informática de lenguaje de programación creada por Sun Microsystems en 1995.<br>
					Ha evolucionado desde sus humildes comienzos hasta impulsar una gran parte del mundo digital actual,
				  	ya que es una plataforma fiable en la que se crean muchos servicios y aplicaciones.<br>
				 	Su sintaxis deriva en gran medida de C y C++, pero tiene menos utilidades de bajo nivel que cualquiera de ellos.<br>
				   	Las aplicaciones de Java son compiladas a bytecode (clase Java), que puede ejecutarse en cualquier
				    máquina virtual Java (JVM) sin importar la arquitectura de la computadora subyacente.</p>
				 <p>Es un lenguaje de programación de alto nivel. Su creador James Gosling lo define en base a sus 
					características: sencillo, orientado a objetos, distribuido, interpretado, robusto, seguro,<br> 
					independiente de las arquitecturas, portable, eficaz, multitarea y dinámico. Antes de poder 
					describir en detalle cada una de estas características es conveniente indicar como funciona el 
					proceso de desarrollo de una aplicación Java.</p>
				<img>
			</div>
		</section>

		<section>
			<div>
				<h2>HTML</h2>
				<h3>Que es HTML?</h3>
				<p>HTML, acrónimo en inglés de HyperText Markup Language («lenguaje de marcado de hipertexto»), hace referencia al lenguaje de marcado<br>
					utilizado en la creación de páginas web.Define una estructura básica y un código (denominado código HTML) para la presentación<br> 
				 	de contenido de una página web, que incluye texto, imágenes, videos, juegos, entre otros elementos.</p>
				 <p>HTML es un lenguaje de marcado que posibilita definir la estructura de nuestro documento mediante etiquetas. Este lenguaje ofrece una gran<br>
				 	adaptabilidad, una estructuración lógica y es fácil de interpre­tar tanto por humanos como por máquinas.</p>
				<img>
			</div>
		</section>
		
		<section>
			<div>
				<h2>CSS</h2>
				<h3>Que es CSS?</h3>
				<p>CSS (siglas en inglés de Cascading Style Sheets), en español «Hojas de estilo en cascada», es un lenguaje de diseño gráfico para definir y crear<br>
					la presentación de un documento estructurado escrito en un lenguaje de marcado.​ Es muy usado para establecer el diseño visual de los documentos web,<br>
				 	e interfaces de usuario escritas en HTML. Junto con HTML y Java (en este caso), CSS es una tecnología usada por muchos sitios web para crear páginas<br>
				 	visualmente atractivas, interfaces de usuario para aplicaciones web y GUIs para muchas aplicaciones móviles (como Firefox OS).
				 	CSS está diseñado principalmente para marcar la separación del contenido del documento y la forma de presentación de este, características tales como<br>
				 	las capas o layouts, los colores y las fuentes.4​ Esta separación busca mejorar la accesibilidad del documento, proveer más flexibilidad y control<br>
				 	en la especificación de características presentacionales, permitir que varios documentos HTML compartan un mismo estilo usando una sola hoja de <br>
				 	estilos separada en un archivo .css, y reducir la complejidad y la repetición de código en la estructura del documento. 
				</p>
				<img>
			</div>
		</section>
		
		<section>
			<h2>Resumen en una tabla de las tecnologias</h2>
			<table>
				<tr>
					<th>Características</th>
					<th>JAVA</th>
					<th>HTML</th>
					<th>CSS</th>
				</tr>
				<tr>
					<th>Tipo de lenguaje</th>
					<td>Lenguaje de programacion orientado a objetos</td>
					<td>Lenguaje de marcado</td>
					<td>Lenguaje de estilo en cascada</td>
				</tr>
				<tr>
					<th>Propoósito</th>
					<td>Usado para desarrollar aplicaciones, desde aplicaciones de escritorio hasta aplicaciones web</td>
					<td>Define la estructura y contenido de una página web</td>
					<td>Define el estilo y la presentación de una página web</td>
				</tr>
				<tr>
					<th>Sintaxis</th>
					<td>Requiere la definición de clases, métodos y variables, sigue una sintaxis específica de Java</td>
					<td>Utiliza etiquetas y atributos para definir la estructura y contenido de la página</td>
					<td>Utiliza reglas de estilo, propiedades y valores para aplicar estilos a elementos HTML</td>
				</tr>
				<tr>
					<th>Ejecución</th>
					<td>Requiere ser compilado a bytecode y luego interpretado por la máquina virtual Java (JVM)</td>
					<td>No requiere compilación, es interpretado directamente por el navegador web</td>
					<td>No requiere compilación, es interpretado directamente por el navegador web</td>
				</tr>
			</table>
		</section>
		
		<aside>
			<h2> Otro tema interesante es la<Strong>"Programacion Estructurada"</Strong></h2>
			<h3>Que es la programacion estructurada?</h3>
			<p>La programación estructurada es un paradigma de programación orientado a mejorar la claridad, calidad y tiempo de desarrollo de un programa de computadora<br>
			 recurriendo únicamente a subrutinas y a tres estructuras de control básicas: secuencia, selección (if y switch) e iteración (bucles for y while).</p>
			<p>Particularmente lo veremos en el lenguaje c++, pero la sintaxis no es muy diferente a la de java.</p>
			<p>Si desea aprender un poco mas acerca de esto, haga click en la imagen de abajo que dice Programacion Estructurada, lo llevara a un curso de c++ en youtube.</p>
			<a href="https://www.youtube.com/watch?v=Zkxx78OW-DE&list=PLHxyqMuBkJ3yyIwbNSt1GuqLFccq2YYTx&index=1" target=_blank><img src="..\static\image\pec++.jpg" title="Curso de C++" alt="Logo de C++"></a>
		</aside>
		<h2><a href="#menu">Volver al inicio</a></h2>
	</main>
	<footer>
		<h2>Contacto</h2>
		<h4>Instagram: 		<a href="https://www.instagram.com/eze.jaljal/" target=_blank><img title="Instagram" alt="Instagram" src="..\static\image\instagram.png" width=65 height=60></a></h4>
		<h4>Facebook: <a href="https://www.facebook.com/eze.jaljal" target=_blank><img title="Facebook" alt="Facebook" src="..\static\image\facebook.png" width=65 height=60></a></h4>
		<h4>Correo: <a href="mailto:ezejaljal2001@hotmail.com?subject=Contacto">ezejaljal2001@hotmail.com</a></h4>
		<p><strong> Jaljal, Ezequiel &copy;Copyright 2024 Programación Visual, FI.</strong>  </p>
	</footer>
</body>
</html>