<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Programacion Visual</title>
	<link rel="icon" href="..\static\image\htmlimage.ico">
</head>
<body background=..\static\image\fondo.jpg>
	<header >
		<h1 style=color:red align=center>#{Programación VISUAL}</h1>
		<nav>
			<h2 id="menu">MENU</h2>
			<ul>
				<li><a href="#sectionintroduction">Introduccion</a>
				<li><a href="#sectionjava">Java</a></li>
				<li><a href="#sectionhtml">HTML</a></li>
				<li><a href="#sectioncss">CSS</a></li>
			</ul><br>
			<br>
		</nav> 
	</header>
	
		<section id="sectionintroduction">
			<div style=color:pink>
				<h3>Introduccion a Programación Visual!</h3>
				<p>En esta materia se ve <strong>HTML, Java y CSS.</strong></p>
				<p> HTML, CSS y Java son dependientes y 
					ctúan como una sola unidad. HTML está a 
					cargo de la estructura, CSS presenta esa 
					estructura y su contenido en la pantalla y 
					Java la dinamica. Todo esto para poder crear sitios-aplicaciones web.
				</p>
				<p>Aprenderemos lo que es <strong>Backend y Frontend.</strong></p>
				<h3>Que es frontend?</h3>
				<p> El frontend se refiere a la parte visible de un sitio web o aplicación con la que los usuarios pueden 
					interactuar directamente. Es la cara del sitio, ubicada en el lado del cliente.</p>
				<h3>Que es backend?</h3>
				<p>El Backend se encarga de la conexión con la base de datos y el servidor utilizado por el sitio web.
				 	Esta parte está situada en el lado del servidor. </p>
				 <p>Estos <strong>dos conceptos son fundamentales</strong> en el funcionamiento de cualquier sitio o aplicación web y son esenciales
				  	para aquellos que trabajan en el mundo digital.<br>
				  	Sintetizando, el frontend es como la fachada y las partes visibles de una casa, mientras que el backend es la infraestructura
				 	interna que hace que todo funcione de manera eficiente y segura.</p>
				<p>En el <a href="menu">menu</a> encontrara links directos para conocer un poco mas acerca de estos lenguajes de programación.</p><br>
			</div>
		</section>
		
		<section id="sectionjava">
			<div style=color:Red>
				<h3>JAVA</h3>
				<h3>Que es java?</h3>
				<p>Java es una plataforma informática de lenguaje de programación creada por Sun Microsystems en 1995.<br>
					Ha evolucionado desde sus humildes comienzos hasta impulsar una gran parte del mundo digital actual,
				  	ya que es una plataforma fiable en la que se crean muchos servicios y aplicaciones.<br>
				 	Su sintaxis deriva en gran medida de C y C++, pero tiene menos utilidades de bajo nivel que cualquiera de ellos.<br>
				   	Las aplicaciones de Java son compiladas a bytecode (clase Java), que puede ejecutarse en cualquier
				    máquina virtual Java (JVM) sin importar la arquitectura de la computadora subyacente.</p>
				 <p>Es un lenguaje de programación de alto nivel. Su creador James Gosling lo define en base a sus 
					características: sencillo, orientado a objetos, distribuido, interpretado, robusto, seguro,<br> 
					independiente de las arquitecturas, portable, eficaz, multitarea y dinámico. Antes de poder 
					describir en detalle cada una de estas características es conveniente indicar como funciona el 
					proceso de desarrollo de una aplicación Java.</p>
				<img src="..\static\image\java.jpg" title="Logo de JAVA" alt="Logo de java"  width=600 height=300>
			</div>
		</section>

		<section id="sectionhtml">
			<div style=color:turquoise>
				<h3>Que es HTML?</h3>
				<p>HTML, acrónimo en inglés de HyperText Markup Language («lenguaje de marcado de hipertexto»), hace referencia al lenguaje de marcado<br>
					utilizado en la creación de páginas web.Define una estructura básica y un código (denominado código HTML) para la presentación<br> 
				 	de contenido de una página web, que incluye texto, imágenes, videos, juegos, entre otros elementos.</p>
				 <p>HTML es un lenguaje de marcado que posibilita definir la estructura de nuestro documento mediante etiquetas. Este lenguaje ofrece una gran<br>
				 	adaptabilidad, una estructuración lógica y es fácil de interpre­tar tanto por humanos como por máquinas.</p>
				<img src="..\static\image\html.jpg" title="Logo de HTML" alt="Logo de HTML"  width=600 height=300>
			</div>
		</section>
		
		<section id="sectioncss">
			<div style=color:yellow>
				<h3>Que es CSS?</h3>
				<p>CSS (siglas en inglés de Cascading Style Sheets), en español «Hojas de estilo en cascada», es un lenguaje de diseño gráfico para definir y crear<br>
					la presentación de un documento estructurado escrito en un lenguaje de marcado.​ Es muy usado para establecer el diseño visual de los documentos web,<br>
				 	e interfaces de usuario escritas en HTML. Junto con HTML y Java (en este caso), CSS es una tecnología usada por muchos sitios web para crear páginas<br>
				 	visualmente atractivas, interfaces de usuario para aplicaciones web y GUIs para muchas aplicaciones móviles (como Firefox OS).
				 	CSS está diseñado principalmente para marcar la separación del contenido del documento y la forma de presentación de este, características tales como<br>
				 	las capas o layouts, los colores y las fuentes.4​ Esta separación busca mejorar la accesibilidad del documento, proveer más flexibilidad y control<br>
				 	en la especificación de características presentacionales, permitir que varios documentos HTML compartan un mismo estilo usando una sola hoja de <br>
				 	estilos separada en un archivo .css, y reducir la complejidad y la repetición de código en la estructura del documento. 
				</p>
				<img src="..\static\image\css.png" title="Logo de CSS" alt="Logo de CSS"  width=600 height=300>
			</div>
		</section>
		<p><a href="#menu">Volver al menu</a></p>
	<footer></footer>
</body>
</html>